$breakpoints: (
  "xs": 360px,
  "sm": 480px,
  "md": 720px,
  "lg": 960px,
  "xl": 1024px,
);

@media (max-width: 1285px) {
  .right-box-container {
    max-width: 95%;
  }
  .mb-5 {
    margin-bottom: 60px;
  }
  .form-container {
    border-bottom-left-radius: 70px;
    border-top-left-radius: 70px;
  }
  .logo-width {
    max-width: 300px;
  }
  .logo-desc {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    max-width: 73%;
  }
  .mb-4 {
    margin-bottom: 60px;
  }
}

@media (max-width: 1024px) {
  .full-height {
    flex-direction: column;
  }
  .form-container {
    background-color: #fff;
    width: 100%;
    height: 72%;
    border-top-right-radius: 70px;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 0;
    gap: 20px;
  }
  .mb-4 {
    margin-bottom: 20px;
  }
  .logo-width {
    max-width: 250px;
  }
  .mb-5 {
    margin-bottom: 0;
  }
  .font-xl {
    font-size: 32px;
  }
  .logo-box-container {
    padding-top: 37px;
  }
  .right-box-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
  .mb-3 {
    margin-bottom: 0;
  }
}