.classes-body {
  overflow: hidden;
  height: 100%;
}

.header-section {
  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }
}

.classes-responsive-nav {
display: none;
}

.classes-section {
  padding-right: 90px;
  width: 100%;
  
}
@mixin btn-style {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  font-family: Poppins;
  border-radius: 8px;
  padding: 8px 15px 8px 15px;
  cursor: pointer;
}
button.display-f {
  @include btn-style;
  border: 1px $primary-color solid;
  background-color: transparent;
}
.ajout-btn {
  @include btn-style;
  color: #fff;
}
.classes-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 33px;
  row-gap: 46px;
  margin-bottom: 77px;
  justify-items: center;
  .grey-background {
    border-radius: 12px;
    background-color: $side-bar-white-color;
    padding: 24px 21px;
    p:nth-child(1) {
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
      text-wrap: nowrap;
      sup {
        font-size: 12px !important;
      }
    }
    p:nth-child(2) {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 30px;
    }
    button {
      border-radius: 8px;
      padding: 8px 21px 8px 21px;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #fff;
      cursor: pointer;
    }
  }
}

.classes-nav-btn-width {
  width: 87%;
}

.nav-footer {
  width: 100%;
  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  .light-text {
    color: #B5B5B5;
  }
}