@media (max-width: 1800px) {
  .classes-main {
    height: 100%;
  }
  .classes-nav {
    display: none;
  }
  .classes-responsive-nav {
    display: block;
    padding: 0 8px;
    max-width: max-content;
  }
  .classes-logo-img {
    display: none;
  }
  .classes-menu-img {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 1620px) {
  .classes-body {
    overflow: scroll;
  }
  .classes-grid {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0;
    .grey-background {
      align-items: normal;
      div {
        div {
          justify-content: space-between;
        }
      }
    }
  }
}

@media (max-width: 1335px) {
  .classes-main {
    height: 118%;
  }
  .classes-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .classes-grid .grey-background {
    align-items: normal;
    div {
      div {
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: 1180px) {
  .classes-section {
    padding-right: 40px;
  }
}

@media (max-width: 1000px) {
  .classes-main {
    height: 178%;
    gap: 30px;
  }
  .classes-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .classes-grid {
    column-gap: 0;
    .grey-background {
      width: 70%;
    }
  }
}

@media (max-width: 740px) {
  .header-section {
    flex-direction: column;
    gap: 10px;
    div:first-child {
      align-self: flex-start;
    }
  }

  .classes-section {
    gap: 20px;
  }
}

@media (max-width: 650px) {
  .classes-main {
    height: 183%;
  }

  .classes-responsive-nav {
    display: none;
  }

  .classes-section {
    padding-right: 0;
    .nav-footer {
      padding-right: 20px;
    }
    .header-section {
      align-items: center;
      gap: 0;
      h3 {
        margin-bottom: 8px;
      }
      p {
        margin-bottom: 30px;
      }
      div:first-child {
        align-self: center;
        text-align: center;
      }
    }
  }
}

@media (max-width: 600px) {
  .classes-main {
    height: 286%;
  }
  
  .classes-section {
    .classes-grid {
      grid-template-columns: 1fr;
      row-gap: 20px;
      .grey-background {
        width: 55%;
      }
    }
    .nav-footer {
      padding-right: 0;
      justify-content: center;
    }
  }
}

@media (max-width: 470px) {
  header {
    padding: 15px 25px 15px 25px;
  }

  .bell-style, .bell-notif {
    display: none;
  }
}

@media (max-width: 410px) {
  .classes-main {
    height: 290%;
  }
  .nav-footer {
    flex-direction: column;
    gap: 8px;
  }
}

@media (max-width: 380px) {
  .grey-background {
    div:first-child {
      div:first-child {
        justify-content: normal;
        gap: 30px;
      }
    }
  }
}

@media (max-width: 350px) {
  header {
    text-wrap: nowrap;
  }
  .grey-background {
    div:first-child {
      div:first-child {
        justify-content: normal;
        gap: 10px;
      }
    }
  }
}