@media (max-width: 1800px) {
  .classes-main {
    height: 100%;
  }
  .classes-nav {
    display: none;
  }
  .classes-responsive-nav {
    display: block;
    padding: 0 8px;
    max-width: max-content;
  }
  .classes-logo-img {
    display: none;
  }
  .classes-menu-img {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 1620px) {
  .classes-body {
    overflow: scroll;
  }
  .classes-grid {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0;
    .grey-background {
      align-items: normal;
      div {
        div {
          justify-content: space-between;
        }
      }
    }
  }
}

@media (max-width: 1335px) {
  .classes-main {
    height: 118%;
  }
  .classes-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .classes-grid .grey-background {
    align-items: normal;
    div {
      div {
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: 1180px) {
  .classes-section {
    padding-right: 40px;
  }
}

@media (max-width: 1000px) {
  .classes-main {
    height: 178%;
  }
  .classes-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .classes-grid {
    column-gap: 0;
    .grey-background {
      width: 70%;
    }
  }
}