@use "sass:math";

$grid-columns: 12;
$grid-gaps: (
  "0": 0,
  "1": 10px,
  "2": 20px,
  "3": 30px,
  "4": 40px,
  "5": 50px,
  "6": 60px,
  "7": 70px,
  "8": 80px,
);
$layout-values: flex-start, flex-end, center, space-between, space-around, space-evenly;
$align-values: flex-start, flex-end, center;

// Base layout
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.dashboard-left-container {
  display: flex;
  flex-direction: column;
}

.width-100 {
  width: 100%;
}

// Grid gaps calsses
@each $key, $val in $grid-gaps {
  .gap-#{$key} {
    gap: $val;
  }
}

// Justify centent classes
@each $val in $layout-values {
  .justify-#{$val} {
    justify-content: $val;
  }
}

// Align centent classes
@each $val in $align-values {
  .align-#{$val} {
    align-items: $val;
  }
}